*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
*,
#root{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(77, 119, 119);
    width: 100%;
}
header, .logo,
.section-two,
.change-journal-btn{
    display: flex;
    align-items: center;
}


.change-journal-btn i,
.change-journal-btn strong
{
   cursor: pointer;
}

.change-journal-btn i:active{
    font-size: 1.7em;
    color: aquamarine;
}

header , .view-more a{
    color:#0e0e0e;
}
header{
    background-color: #fff;
    justify-content: space-between;
    width: 100%;
}

 header nav, div{
    padding: 1.25em;
} 

header a{
    text-decoration: none;
    color: #090909;
}

.logo strong{
    font-weight: 900;
    font-size: 0.81rem;
}

.social-icons i{
    font-size: 1.6em;
    margin-left: 0.5em;   
}


strong {
    margin-left: 0.3em;
}

.blog-img{
    width: 374px;
    height: 232px;
}

.blog-img,
.social-icons{
    cursor: pointer;
}

.section-one{
    height: auto;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding:1px;
}

.my-journal-txt{
   margin:6.25em 0.635em 0 0;
}

.my-journal-txt p{
    font-weight: 300;
    font-size: 1.05rem;
    line-height:1.5;
}


.my-journal-txt h1{
    margin: 0.3em  0;
}

h1{
    font-weight: 800;
    font-size: 2.25rem;
}

.section-two{
    background-color:#fafafa;
}

p{
    margin-bottom: 1.17em;
}
.txt p{
    margin: 1.17em 0 0;
}


.section-two{
    flex-wrap: wrap;
    padding: 20px 0;
    justify-content: center;
}
.section-two div p{
    font-weight: 350;
    font-size:0.99rem;
    line-height: 1.5;
    margin:0.5em 0;
    max-width: 374px;
}

.footer-container{
    text-align: center;
}


footer{
    background-color: #202022;
}
footer h5{
    color: #ececec;
}
footer p{
    color: #d7d8d7;
}




@media (max-width:480px){
    .social-icons i{
        font-size: 1.1em;
    }

    .change-journal-btn strong{
        font-size: 0.7em;
    }
}



/* Desktop  */

@media (min-width:768px){
    header {
        padding: 0px 0.625em;
    }
    .section-one {
        height: 80vh;
    }
    .change-journal-btn i{
        font-size: 1.2em;
    }

    .my-journal-txt {
        max-width: 700px;
        margin-top: 18.25em; 
    }

   .logo strong{
    font-weight: 900;
    font-size: 1.125rem;
    margin-left: 0.3em;
} 
}

